<%- include('../partials/header', { title: language.name + ' | Edit' }) %>

    <main>
        <div class="body-container">
            <div>
                <a href="/">Home Page</a>
                <a href="/languages">Programming Languages List</a>
    
                <h1>Edit Programming Language</h1>
    
                <form action="/language-edited" method="POST">
                    <div class="form-control">
                        <label for="language-name">Language Name:</label>
                        <input type="text" name="name" id="language-name" required value="<%= language.name %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="language-description">Description:</label>
                        <textarea name="description" id="language-description" required><%= language.description %></textarea>
                    </div>
    
                    <input type="hidden" name="id" value="<%= language.id %>" />
                    <button type="submit">Update Language</button>
                </form>    
            </div>  
        </div>
    </main>

<%- include('../partials/global-footer') %>