<%- include('../partials/header', { title: language.name }) %>

    <main>
        <div class="body-container">
            <% if (language) { %>             
                <div>
                    <a href="/">Home Page</a>
                    <a href="/languages">Languages List</a>
    
                    <h1>Language: <%= language.name %></h1>                
                    <p>Description:<%= language.description %></p>
    
                    <h2>Students picked this language:</h2>
                    
                    <ul class="language-students-list">                                
                        <% if (languageStudents.length > 0) { %>
                                <% languageStudents.forEach(student => { %>
                                    <li><%= student.name %> <%= student.surname %></li>
                                <% }) %>
                        <% } else { %> 
                            <li>No students assigned..</li>                                        
                        <% } %>
                    </ul>
    
                    <a class="link-button" href="/edit-language/<%= language.id %>"><button>Edit Language Info</button></a>
    
                    <form action="/delete-language" method="POST" style="display:inline;">
                        <input type="hidden" name="languageId" value="<%= language.id %>" />
                        <button class="delete-button" type="submit">Delete Language</button>
                    </form>
                </div>        
            <% } else { %>
                <h1>Language not found</h1><a href="/languages">Back to Languages</a>
            <% } %>
        </div>
    </main>

<%- include('../partials/global-footer') %>