<%- include('../partials/header', { title: student.name + ' ' + student.surname + ' | Edit' }) %>

    <main>
        <div class="body-container">
            <div class="top-nav-links">
                <a href="/">Home Page</a>
                <a href="/students">Students List</a>
            </div>
    
            <div class="edit-student-form">
                <h1>Edit Student's Data</h1> 
                
                <form action="/student-edited" method="POST" id="edit-student-form">
                    <div class="form-control">
                        <label for="student-name">Name:</label>
                        <input type="text" name="name" id="student-name" required value="<%= student.name %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="student-surname">Surname:</label>
                        <input type="text" name="surname" id="student-surname" required value="<%= student.surname %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="student-age">Age:</label>
                        <input type="number" name="age" id="student-age" required value="<%= student.age %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="student-phone">Phone:</label>
                        <input type="tel" name="phone" id="student-phone" required value="<%= student.phone %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="student-email">Email:</label>
                        <input type="email" name="email" id="student-email" required value="<%= student.email %>" />
                    </div>
    
                    <div class="form-control">
                        <label for="student-it-knowledge">IT Knowledge:</label>
                        <input type="range" name="itKnowledge" id="student-it-knowledge" required value="<%= student.itKnowledge %>" min="0" max="10" step="0.5"/>
                        <output id="it-knowledge-output">5</output>
                    </div>
    
                    <fieldset>
                        <legend> Group </legend>
                        <% groups.forEach(group => { %>
                          <div class="form-control">
                            <input type="radio" name="group" id="group-<%= group.id %>" value="<%= group.name %>" 
                            <%= student.group === group.name ? 'checked' : '' %> />
                            <label for="group-<%= group.id %>"><%= group.name %> - <%= group.description %></label>
                          </div>
                        <% }) %>
                      </fieldset>
    
                    <fieldset>
                        <legend> Programming Languages </legend>
                        <p>You can choose up to 3 programming languages.</p>
                        <% languages.forEach(language => { %>
                          <div class="form-control">
                            <input type="checkbox" name="interests" id="language-<%= language.id %>" value="<%= language.name %>" 
                            <%= student.interests && student.interests.includes(language.name) ? 'checked' : '' %>>
                            <label for="language-<%= language.id %>"><%= language.name %></label>
                          </div>
                        <% }) %>
                      </fieldset>
                      
                      <fieldset>
                        <legend> Academic Subjects </legend>
                        <p>You can choose up to 7 subjects.</p>
                        <% subjects.forEach(subject => { %>
                          <div class="form-control">
                            <input type="checkbox" name="subjects" id="subject-<%= subject.id %>" value="<%= subject.name %>" 
                            <%= student.subjects && student.subjects.includes(subject.name) ? 'checked' : '' %>>
                            <label for="subject-<%= subject.id %>"><%= subject.name %></label>
                          </div>
                        <% }) %>
                      </fieldset>
    
                    <button type="submit">Update Info</button>
    
                    <input type="hidden" name="id" value="<%= student.id %>" />
                </form>
            </div>
        </div>
    </main> 

<%- include('../partials/student-form-footer') %>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        const maxLanguages = 3
        const languageCheckboxes = document.querySelectorAll('input[name="interests"]')
        
        languageCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
            const checkedCount = document.querySelectorAll('input[name="interests"]:checked').length
            
                if (checkedCount >= maxLanguages) {
                    languageCheckboxes.forEach(box => {
                        if (!box.checked) {
                            box.disabled = true;
                        }
                    })
                } else {
                    languageCheckboxes.forEach(box => {
                        box.disabled = false;
                    })
                }
            })
        })
        
        


        const maxSubjects = 7
        const subjectCheckboxes = document.querySelectorAll('input[name="subjects"]')

        subjectCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
            const checkedCount = document.querySelectorAll('input[name="subjects"]:checked').length
                
                if (checkedCount >= maxSubjects) {
                    subjectCheckboxes.forEach(box => {
                        if (!box.checked) {
                            box.disabled = true
                        }
                    })
                } else {
                    subjectCheckboxes.forEach(box => {
                        box.disabled = false
                    })
                }
            })
        })
    })
</script>
    